<div class="top-bar">
  <h1>Create User</h1>
  <div class="btn-group top-bar-actions">
    <button class="btn btn-light" (click)="showUserList()">User List</button>
  </div>
</div>
<div class="container">
  <div class="col-12 col-lg-8 offset-lg-2 mb-5" *ngIf="submissionError">
    <ngb-alert [type]="'danger'" (closed)="submissionError = false">
      The user could not be created at this time. Please try again later.
    </ngb-alert>
  </div>
  <div class="col-12 col-lg-8 offset-lg-2 mb-5" *ngIf="submissionSuccess">
    <ngb-alert [type]="'success'" (closed)="submissionSuccess = false">
      The user has been successfully created.
    </ngb-alert>
  </div>
</div>
<nec-form-create-user (formSubmit)="createUser($event)" #form></nec-form-create-user>

