<div class="top-bar">
  <h1>User List</h1>
  <div class="btn-group top-bar-actions">
    <button class="btn btn-light" (click)="showCreateUser()">Create User</button>
  </div>
</div>
<div class="container-fluid">
  <div class="row user-list"*ngIf="(userList$ | async) as userList">
    <div class="col-12 col-sm-6 col-lg-4 col-xxl-3" *ngFor="let user of userList.users">
      <div class="card user-card mb-3">
        <div class="card-body">
          <h2 class="card-title user-full-name">{{user.firstName}} {{user.lastName}}</h2>
          <dl class="user-details">
            <dt>Date of Birth</dt>
            <dd>{{user.dateOfBirth | date:'longDate' }}
            <dt>Gender</dt>
            <dd>{{user.gender}}</dd>
            <dt>Status</dt>
            <dd>{{user.status}}</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="(userList$ | async) === false">
    <div class="col-12">
      <div class="alert alert-danger" role="alert">
        The user list could not be loaded
      </div>
    </div>
  </div>
</div>
