<form #form="ngForm" class="container" [formGroup]="createUserForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-12 col-lg-8 offset-lg-2">
      <div class="mb-3">
        <label for="dateOfBirth">Date of Birth</label>
        <div class="input-group date-picker">
          <button type="button" class="btn btn-primary" (click)="d.toggle()">
            <bi name="calendar-date-fill" class="fill-white"></bi>
          </button>
          <input type="text"
                 ngbDatepicker
                 #d="ngbDatepicker"
                 class="form-control"
                 id="dateOfBirth"
                 placeholder="dd/mm/yyyy"
                 formControlName="dateOfBirth"
                 [ngClass]="{ 'is-invalid': form.submitted && controls['dateOfBirth'].invalid }"
                 ng-disabled="lock"
          >
        </div>
        <div *ngIf="form.submitted && controls['dateOfBirth'].invalid" class="text-danger">
          <small *ngIf="controls['dateOfBirth'].errors?.['required']" >Date of Birth is required</small>
          <small *ngIf="controls['dateOfBirth'].errors?.['ngbDate']['invalid']" >Invalid date</small>
        </div>
      </div>
      <div class="mb-3">
        <label for="firstName">First Name</label>
        <input type="text"
               class="form-control"
               id="firstName"
               placeholder="First Name"
               formControlName="firstName"
               [ngClass]="{ 'is-invalid': form.submitted && controls['firstName'].invalid }"
               ng-disabled="lock"
        >
        <div *ngIf="form.submitted && controls['firstName'].invalid" class="text-danger">
          <small *ngIf="controls['firstName'].errors?.['required']" >First Name is required</small>
        </div>
      </div>
      <div class="mb-3">
        <label for="lastName">Last Name</label>
        <input type="text"
               class="form-control"
               id="lastName"
               placeholder="Last Name"
               formControlName="lastName"
               [ngClass]="{ 'is-invalid': form.submitted && controls['lastName'].invalid }"
               ng-disabled="lock"
        >
        <div *ngIf="form.submitted && controls['lastName'].invalid" class="text-danger">
          <small *ngIf="controls['lastName'].errors?.['required']" >Last Name is required</small>
        </div>
      </div>
      <div class="mb-3">
        <label for="gender">Gender</label>
        <select id="gender"
                class="form-select"
                formControlName="gender"
                [ngClass]="{ 'is-invalid': form.submitted && controls['gender'].invalid }"
                ng-disabled="lock"
        >
          <option selected hidden value="">Select Gender</option>
          <option *ngFor="let gender of userGenders" [ngValue]="gender">{{ gender }}</option>
        </select>
        <div *ngIf="form.submitted && controls['gender'].invalid" class="text-danger">
          <small *ngIf="controls['gender'].errors?.['required']" >Gender is required</small>
        </div>
      </div>
      <div class="mb-3">
        <label for="status">Status</label>
        <select id="status"
                class="form-select"
                formControlName="status"
                [ngClass]="{ 'is-invalid': form.submitted && controls['status'].invalid }"
                ng-disabled="lock"
        >
          <option selected hidden value="">Select Status</option>
          <option *ngFor="let status of userStatuses" [ngValue]="status">{{ status }}</option>
        </select>
        <div *ngIf="form.submitted && controls['status'].invalid" class="text-danger">
          <small *ngIf="controls['status'].errors?.['required']" >Status is required</small>
        </div>
      </div>
      <div class="mt-5">
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-primary" ng-disabled="lock">Create User</button>
        </div>
      </div>
    </div>
  </div>
</form>
