/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

div.top-bar {

  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 1rem;
  padding: 1rem;
  margin-bottom: 2rem;
  background: #333333;
  color: #ffffff;

  h1 {
    flex-wrap: nowrap;
    flex-grow: 1;
  }

  .top-bar-actions {
    flex-grow: 0;
  }

}
